language: node_js
node_js:
  - "8"
branches:
  only:
    - ch-tests-#161858352
cache:
  directories:
    - node_modules
before_install:
  - npm update
install:
  - npm install
script:
  - npm test --coverage
  - npm run coveralls