.welcome {
    background-color: white;
    border-radius: 4px;
}
ul {
    -moz-column-count: 3;
    -moz-column-gap: 20px;
    -webkit-column-count: 3;
    -webkit-column-gap: 20px;
    column-count: 3;
    column-gap: 20px;
}

.welcome ul li {
    color: rgb(37, 37, 99);
    padding: 8px 8px;
    list-style: none;
    font-size: 1.2em;

}
.dets {
    color: cadetblue;
    padding: 10px 10px;
}
.welcome input[type=submit]{
    background-color: #9E6F19 !important;
    color: #363647;
    font-size: .9em;
}
@media screen and (max-width: 812px) {
    ul {
    -moz-column-count: 2;
    -moz-column-gap: 10px;
    -webkit-column-count: 2;
    -webkit-column-gap: 10px;
    column-count: 2;
    column-gap: 10px;
}
}