h1 {
	color: #1C3041;
	font-style: italic;
}
.welcome ul li {
    color: rgb(37, 37, 99);
    font-size: 1.2em;
    width: 65%;
    border-radius: 4px;
    margin-top: 15px;
    background-color: rgb(180, 172, 172);
    padding: 11px 20px;
    list-style: none;
    
}

li {
    display: inline-block;
}
.welcome {
    margin-left: 400px;
    margin-top: 80px; 
    border-radius: 5px;
    background-color: #f2f2f2;
    color: black;
    width: 40%;
}
.btns {
	display: inline-block !important;
}
.del input[type=submit]{
	background-color: #CF5C3F !important;
}
@media screen and (max-width: 1024px) {
    .welcome {
        width: 40%;
        margin-left: 70px;
    }
}

@media screen and (max-width: 812px) {
    .welcome {
        margin-left: 50px;
    }
} 
